<aside id="colorlib-hero">
    <div class="flexslider">
      <ul class="slides">
        <li style="background-image: url(/bg-8.jpeg);">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                <div class="slider-text-inner text-center">

                  <h2> <span class="cursive-2" style="font-family:cursive;"> The Land Of </span> </h2>
                  <h1> <span class="cursive-1" style="font-family:cursive;"> Mahabharat </span> </h1>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(/the-dharohar-museum.jpg);">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                <div class="slider-text-inner text-center">


                  <h2> <span class="cursive-2" style="font-family:cursive;"> Kurukshetra is well known all over the globe due to its </span> </h2>
                  <h1> <span class="cursive-1" style="font-family:cursive;"> Amazing Architecture and Culture
                    </span> </h1>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(/tour08.jpeg);">
          <div class="overlay"></div>
          <div class="container-fluids">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                <div class="slider-text-inner text-center">


                  <h2> <span class="cursive-2"style="font-family:cursive;"> Colorful and vibrant </span> </h2>
                  <h1> <span class="cursive-1" style="font-family:cursive;"> State In The Country </span> </h1>

                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(/bg-5.jpg);">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                <div class="slider-text-inner text-center">


                  <h2> <span  class="cursive-2"style="font-family:cursive;"> Words don't match the pride and glory this place of </span> </h2>
                  <h1> <span class="cursive-1" style="font-family:cursive;"> Kurukshetra Holds </span> </h1>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>