<footer id="colorlib-footer" role="contentinfo">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-3 colorlib-widget">
          <h4>Tour Agency</h4>
          <p>Kurukshetra is a region named after King Kuru, the ancestor of Kauravas and Pandavas in the Kuru kingdom,
            as depicted in epic Mahabharata. The Kurukshetra War of the Mahabharata is believed to have taken place here
          </p>
          <p>
          <ul class="colorlib-social-icons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
          </ul>
          </p>
        </div>
        <div class="col-md-2 colorlib-widget">
          <h4>Plan Now</h4>
          <p>
          <ul class="colorlib-footer-links">
            <li><a href="#">Trains</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Places</a></li>
            <li><a href="#">Car Rent</a></li>
            <!--		<li><a href="#">Beach &amp; Resorts</a></li>  -->
            <li><a href="#">cabs</a></li>
          </ul>
          </p>
        </div>
        <div class="col-md-2 colorlib-widget">
          <h4>Top Hotels</h4>
          <p>
          <ul class="colorlib-footer-links">
            <li><a href="#">Hotel saffron</a></li>
            <li><a href="#">Hotel Krishna mahal</a></li>
            <li><a href="#">Hotel MG Grand</a></li>
            <li><a href="#">Hotel Kimaya</a></li>
            <li><a href="#">Hotel 9th planet</a></li>
          </ul>
          </p>
        </div>
        <div class="col-md-2">
          <h4>Follow Us</h4>
          <ul class="colorlib-footer-links">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-md-push-1">
          <h4>Contact Information</h4>
          <ul class="colorlib-footer-links">
            <li>744/7<br> New Delhi kkr 136118</li>
            <li><a href="tel://+917015648676">+91 7015549658</a></li>
            <li><a href="mailto:devanshubhatnagar09@gmail.com">devanshubhatnagar09@gmail.com</a></li>
            <li><a href="https://kurukshetradarshan.azurewebsites.net/">www.kurukshetradarshan.net</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | Kurukshetra Darshan<i
              aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
  </footer>