<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2">
            <!-- <div id="colorlib-logo"><a href="/"><span class="heading-1" style="font-family:cursive;">Kurukshetra Darshan </span></a></div> -->
           <a href="/"> <img src="/logo.png" class="logo-img" alt=""></a>
          </div>
          <div class="col-xs-10 text-right menu-1">
            <ul>
              <li class="active"><a href="/ ">Home</a></li>
              <li class="has-dropdown">
                <a href="/services ">Places</a>
                <ul class="dropdown">
                  <li><a href="#">Brahma Sarovar</a></li>
                  <li><a href="#">Panorama And Science Center</a></li>
                  <li><a href="#">Kalpana Chawla Memorial Planetarium</a></li>
                  <li><a href="#">Sheikh chehli Tomb</a></li>
                </ul>
              </li>
              <li><a href="/hotels ">Hotels</a></li>
              <li><a href="/services ">Services</a></li>
              <li><a href="/blog ">Parks</a></li>
              <li><a href="/about ">About</a></li>
              <li><a href="/contact ">Contact</a></li>

              <%if(username){%>
                <li><a href="/logout ">Logout</a></li>
                <%} else {%>
                  <li><a href="/login ">Login</a></li>
                  <li><a href="/signup ">Signup</a></li>
              <%} %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
<style>
  .logo-img{
    filter: drop-shadow(5px 4px 1px #ffffff);
    width: 32vw;
  }
</style>
<%- include('chatbot') %>