<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Tour Template</title>
<link rel="icon" type="image/x-icon" href="/logo design.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="/animate.css">
<link rel="stylesheet" href="/icomoon.css">
<link rel="stylesheet" href="/bootstrap.css">
<link rel="stylesheet" href="/magnific-popup.css">
<link rel="stylesheet" href="/flexslider.css">
<link rel="stylesheet" href="/owl.carousel.min.css">
<link rel="stylesheet" href="/owl.theme.default.min.css">
<link rel="stylesheet" href="/bootstrap-datepicker.css">
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/style.css">
<script src="/modernizr-2.6.2.min.js"></script>