<!DOCTYPE HTML>
<html>
	<head>
		<%- include('partials/meta') %>
	  </head>
	<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<%- include('partials/header') %>

		<div id="colorlib-about">
			<div class="container">
				<div class="row">
					<div class="about-flex">
						<div class="col-one-forth aside-stretch animate-box">
							<div class="row">
								<div class="col-md-12 about">
									<h2>About</h2>

									<ul>
										<li><a href="#">History</a></li>
										<li><a href="#">Review</a></li>
										<li><a href="#">Connect with Us</a></li>
										<li><a href="#">Subscribe Us</a></li>
										<li><a href="#">Services</a></li>
									</ul>


								</div>
							</div>
						</div>
						<div class="col-three-forth animate-box">
							<h2>History</h2>
							<div class="row">
								<div class="col-md-12">
									<p>According to another legend, Kurukshetra was named after the King Kuru, who was from the Bahrata Dynasty and was the ancestor of Pandavas and Kauravas in Mahabharata. According to Vamana Purana, </p>

									<p>Thanesar or Kurukshetra was selected by King Kuru for incorporating eight virtues, which are brahmacharya, yajna, charity, purity, kindness, forgiveness, truth and austerity. Impressed by the work of King Kuru, Vishnu gave him two boons.</p>

									<p>One of the boons was that the land will be named after him as Kurukshetra and it forever will be called Holy Land. The second boon was that those who die here will go to heaven. Kurukshetra was also the land, which had two Vedic rivers, Drishadvati and Saraswati.</p>

									<div class="row row-pb-sm">
										<div class="col-md-6">
											<img class="img-responsive" src="kuk/about2.jpeg" alt="">
										</div>
										<div class="col-md-6">
											<p>The land had many rulers from any dynasties and empires. This place was called Uttarvedi when King Kuru settled here.</p>
											<p> The place has also been called Dharamkshetra, Brahmavedi and Kurukshetra during different eras. According to another legend, this is the place where the universe was created by Brahma. </p>
										</div>
									</div>


									<p>According to the Sanskrit epic Mahabharata, the 18-day long battle of Mahabharat was held in Kurukshetra and during this battle.</p>

									<p>Krishna recited Bhagavad Gita to Arjuna. The place was at the height of its progress when King Harsha was the ruler. During this time Thanesar was visited by Hieun Tsang</p>

									<p>The Chinese scholar. According to archaeological findings, Kurukshetra was made a learning center for people across the world by the Great King Ashoka.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="colorlib-testimony" class="colorlib-light-grey">
			<div class="container">
			  <div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
				  <h2>Our Satisfied Guests says</h2>
				  <p>We love to tell our successful far far away, behind the word mountains, far from the countries
					Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-8 col-md-offset-2 animate-box">
				  <div class="owl-carousel2">
					<div class="item">
					  <div class="testimony text-center">
						<span class="img-user" style="background-image: url(/kuk/first.jpg);"></span>
						<span class="user">deepank</span>
						<small>Radaur</small>
						<blockquote>
						  <p>One day however a small line of blind text by the name of Lorem Ipsum decided to
							leave for the far World of Grammar.</p>
						</blockquote>
					  </div>
					</div>
					<div class="item">
					  <div class="testimony text-center">
						<span class="img-user" style="background-image: url(/kuk/devanshu.jpg);"></span>
						<span class="user">Devanshu bhatnagar</span>
						<small>kurukshetra</small>
						<blockquote>
						  <p>" A small river named Duden flows by their place and supplies it with the
							necessary regelialia.</p>
						</blockquote>
					  </div>
					</div>
					<div class="item">
					  <div class="testimony text-center">
						<span class="img-user" style="background-image: url(/kuk/first.jpg);"></span>
						<span class="user">Gomsi</span>
						<small>Chandigarh</small>
						<blockquote>
						  <p>Alphabet Village and the subline of her own road, the Line Lane. Pityful a
							rethoric question ran over her cheek, then she continued her way.</p>
						</blockquote>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>


		<div id="colorlib-subscribe" style="background-image: url(images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
						<h2>Sign Up for a Newsletter</h2>
						<p>Sign up for our mailing list to get latest updates and offers.</p>
						<form class="form-inline qbstp-header-subscribe">
							<div class="row">
								<div class="col-md-12 col-md-offset-0">
									<div class="form-group">
										<input type="text" class="form-control" id="email" placeholder="Enter your email">
										<button type="submit" class="btn btn-primary">Subscribe</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

 <%- include('partials/footer') %>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>

	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>
