<!DOCTYPE HTML>
<html>
	<head>
		<%- include('partials/meta') %>
	  </head>
	<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<%- include('partials/header') %>

		<div id="colorlib-services">
			<div class="container">
				<div class="row">
					<div class="col-md-3 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-around"></i>
							</span>
							<h3>Amazing Travel</h3>
							<p>The best travel story about a place that captures its essence and reveals the attraction of amazing destination.</p>
						</div>
					</div>
					<div class="col-md-3 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-boat"></i>
							</span>
							<h3>Transportation</h3>
							<p>Some beautiful paths can't be discovered without getting lost.You can't understand a city without using its transportation system.</p>
						</div>
					</div>
					<div class="col-md-3 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-car"></i>
							</span>
							<h3>Plan Your Trip</h3>
							<p>It is not the destination where you end up but the mishaps and memories you create along the way.</p>
						</div>
					</div>
					<div class="col-md-3 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-postcard"></i>
							</span>
							<h3>Nice Support</h3>
							<p>Your support network is the solid ground from which you can propel yourself upwards</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="colorlib-testimony" class="colorlib-light-grey">
			<div class="container">
			  <div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
				  <h2>Our Satisfied Guests says</h2>
				  <p>We love to tell our successful far far away, behind the word mountains, far from the countries
					Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-8 col-md-offset-2 animate-box">
				  <div class="owl-carousel2">
					<div class="item">
					  <div class="testimony text-center">
						<span class="img-user" style="background-image: url(/first.jpg);"></span>
						<span class="user">deepank</span>
						<small>Radaur</small>
						<blockquote>
						  <p>One day however a small line of blind text by the name of Lorem Ipsum decided to
							leave for the far World of Grammar.</p>
						</blockquote>
					  </div>
					</div>
					<div class="item">
					  <div class="testimony text-center">
						<span class="img-user" style="background-image: url(/devanshu.jpg);"></span>
						<span class="user">Devanshu bhatnagar</span>
						<small>kurukshetra</small>
						<blockquote>
						  <p>" A small river named Duden flows by their place and supplies it with the
							necessary regelialia.</p>
						</blockquote>
					  </div>
					</div>
					<div class="item">
					  <div class="testimony text-center">
						<span class="img-user" style="background-image: url(/first.jpg);"></span>
						<span class="user">Gomsi</span>
						<small>Chandigarh</small>
						<blockquote>
						  <p>Alphabet Village and the subline of her own road, the Line Lane. Pityful a
							rethoric question ran over her cheek, then she continued her way.</p>
						</blockquote>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>


		<div id="colorlib-subscribe" style="background-image: url(/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
						<h2>Sign Up for a Newsletter</h2>
						<p>Sign up for our mailing list to get latest updates and offers.</p>
						<form class="form-inline qbstp-header-subscribe">
							<div class="row">
								<div class="col-md-12 col-md-offset-0">
									<div class="form-group">
										<input type="text" class="form-control" id="email" placeholder="Enter your email">
										<button type="submit" class="btn btn-primary">Subscribe</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<%- include('partials/footer') %>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/jquery.magnific-popup.min.js"></script>
	<script src="/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/jquery.stellar.min.js"></script>

	<!-- Main -->
	<script src="/main.js"></script>

	</body>
</html>
